{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="row justify-content-center mt-4">
  <div class="col mt-4">
    <div class="alert alert-success" role="alert">
      {{ success_message }}
    </div>
  </div>
</div>

{% endblock %}
