{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="row justify-content-center mt-4">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{% trans "Login" %}</h2>
        <form method="post" id="{{ form_id }}" action="">
          {% csrf_token %}
          {{ form|crispy }}

          <p>{% trans "Don't have an account yet?" %} <a href="{% url 'signup' %}">{% trans "Sign up now &rsaquo;" %}</a></p>

          <p class="text-muted"><small>{% trans "Lost your password?" %} <a href="{% url 'password_reset' %}">{% trans "Request new password &rsaquo;" %}</a></small></p>
          
          <button type="submit" class="btn btn-primary btn-block btn-lg mt-4">{% trans "Log me in!" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}