{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="row justify-content-center mt-4">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{% trans "Password reset" %}</h2>
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form method="post" id="{{ form_id }}" action="">
          {% csrf_token %}
          {{ form|crispy }}
          
          <button type="submit" class="btn btn-primary btn-block btn-lg mt-4">{% trans "Reset my password" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}