{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="row justify-content-center mt-4">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{% trans "Sign up" %}</h2>
        <form method="post" id="{{ form_id }}" action="">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block btn-lg mt-4">{% trans "Sign me up!" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}