{% extends "base_bootstrap.html" %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/mplate-decoder.css' %}">

{% endblock %}

{% block javascript %}
<script>
  anchors.options.placement = 'left';
  document.addEventListener('DOMContentLoaded', function(event) {
    anchors.add().remove('.no-anchor');
  });
</script>
{% endblock %}
