{% extends "mplate_base_bootstrap.html" %}

{% load static %}
{% load svg %}
{% load i18n %}

{% block content %}

<div class="row">
<div class="col-sm-6 mt-4">
{{ plate|safe }}
</div>
<div class="col-sm-6 mt-4">
{% if schematic %}
{{ schematic|safe }}
{% endif %}
</div>
</div>

<div class="row mt-4">
<div class="col">
<h2>{% trans "Specifications" %}</h2>
<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <td><strong>{% filter upper %} {% trans 'Model' %} {% endfilter %}</strong></td> 
    <td>{% trans "Volkswagen Type 2" %}<br>
    {% blocktrans with model_description=model_description.model_description model_code_catalog=model_description.model_code_catalog configuration_description=model_description.configuration_description extras_description=model_description.extras_description %}
        ➡ {{ model_description }} (model {{ model_code_catalog }})<br>
        ➡ {{ configuration_description }}<br>
        ➡ {{ extras_description }}<br>
    {% endblocktrans %}
    </td>
  </tr>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Model year' %} {% endfilter %}</strong></td> 
    <td>{{ model_year }}</td>
  </tr>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Engine' %} {% endfilter %}</strong></td> 
    <td>{{ engine_description }} </td>
  </tr>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Transmission' %} {% endfilter %}</strong></td> 
    <td>{{ gearbox_description }} </td>
  </tr>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Vehicle Ident. Nr.' %} {% endfilter %}</strong></td> 
    <td>{{ chassis_number }}</td>
  </tr>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Production date' %} {% endfilter %}</strong></td> 
    <td id="production-date">
        {{ production_date }}{% if emden %}. Manufactured at the Emden plant
            <ion-icon
              class="icon"
              data-toggle="tooltip"
              title="From December 1967 to April 1973, as the Hannover plant was over capacity"
              name="information-circle-outline">
            </ion-icon>
        {% endif %}
    </td>
  </tr>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Optional extras' %} {% endfilter %}</strong></td> 
    <!-- <td>{{ mplate.m_codes_1 }} {{ mplate.m_codes_2 }}</td> -->
    <td>
    {% for key, value in m_codes.items %}
        {{ key }}: {{ value }} <br>
    {% endfor %}
    </td>
  <tr>
    <td><strong>{% filter upper %} {% trans 'Exterior' %} {% endfilter %}</strong></td> 
    <td>{{ exteriorcolor_description|linebreaksbr }} </td>
  </tr>  
  <tr>
    <td><strong>{% filter upper %} {% trans 'Interior' %} {% endfilter %}</strong></td> 
    <td>{{ interiorcolor_description }} </td>
  </tr>
  {% if export_destination and 'Unknown' not in export_destination and 'Not specified' not in export_destination %}
  <tr>
    <td><strong>{% filter upper %} {% trans 'Destination' %} {% endfilter %}</strong></td>
    <td>{{ export_destination }} </td>
  </tr>
  {% endif %}
  {% if export_destination_country %}
  <tr>
    <td><strong>{% filter upper %} {% trans 'Destination country' %} {% endfilter %}</strong></td>
    <td>{{ export_destination_country }} </td>
  </tr>
  {% endif %}
</table>
</div>
</div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
