{% extends "mplate_base_bootstrap.html" %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="col">
    <p class="lead mt-4">
      {% trans "Vehicle production data extracted from the M-plate decoder submissions" %}
    </p>
  </div>
</div>

<div class="row my-4">
  <div class="col">
    <h2 class='mt-4'>{% trans "Top 10 models" %}</h2>
    <canvas id="models-chart"></canvas> 
  </div>
  <div class="col">
    <h2 class='mt-4'>{% trans "Model years" %}</h2>
    <canvas id="years-chart"></canvas>
  </div>
</div>

<div class="row my-4">
  <div class="col">
    <h2 class='mt-4'>{% trans "Top 15 colors" %}</h2>
    <canvas id="colors-chart"></canvas> 
  </div>
  <div class="col">
    <h2 class='mt-4'>{% trans "Top 10 destination countries" %}</h2>
    <canvas id="countries-chart"></canvas>
  </div>
</div>

<div class="row my-4">
  <div class="col">
    <h2 class='my-4'>{% trans "Daily M-plate submissions" %}</h2>
    <canvas id="submissions-chart"></canvas> 
  </div>
</div>

{% endblock %}

{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
        integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

<script>
  var timeFormat = 'YYYY-MM-DD';

  var configSubmissions = {
    type: 'line',
    data: {
      datasets: [{
        data: {{ submissionsData|safe }},
        label: "{% trans 'M-plate submissions' %}"
      }],
      labels: {{ submissionsLabels|safe }},
    },
    options: {
      responsive: true,
      legend: {
        display: false,
      },
      scales: {
        xAxes: [{
          type: "time",
          time: {
            parser: timeFormat,
            tooltipFormat: 'll'
          },
          scaleLabel: {
            display: true,
            labelString: "{% trans 'Date' %}"
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: "{% trans 'M-plate submissions' %}"
          }
        }]
      }
    }
  };
  
  var configModels = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ modelsData|safe }},
        label: "{% trans 'VW Type 2 models' %}"
      }],
      labels: {{ modelsLabels|safe }}
    },
    options: {
      responsive: true,
      circumference: Math.PI,
      rotation: -Math.PI,
      plugins: {
          colorschemes: {
              scheme: 'tableau.Tableau10'
          }
      }
    }
  };
  var configYears = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ yearsData|safe }},
        label: "{% trans 'Model year' %}"
      }],
      labels: {{ yearsLabels|safe }}
    },
    options: {
      responsive: true,
      plugins: {
          colorschemes: {
              scheme: 'brewer.Paired12'
          }
      }
    }
  };
  var configColors = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ colorsData|safe }},
        label: "{% trans 'Color' %}",
        backgroundColor: {{ colorsBackgroundColor|safe }},
      }],
      labels: {{ colorsLabels|safe }}
    },
    options: {
      responsive: true,
      circumference: Math.PI,
      rotation: -Math.PI,
      plugins: {
          colorschemes: {
              scheme: 'brewer.Paired12'
          }
      }
    }
  };
  var configCountries = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ countriesData|safe }},
        label: "{% trans 'Countries' %}"
      }],
      labels: {{ countriesLabels|safe }}
    },
    options: {
      responsive: true,
      circumference: Math.PI,
      rotation: -Math.PI,
      plugins: {
          colorschemes: {
              scheme: 'tableau.Winter10'
          }
      }
    }
  };
  window.onload = function() {
    var ctxSubmissions = document.getElementById('submissions-chart').getContext('2d');
    window.submissionsTimeseries = new Chart(ctxSubmissions, configSubmissions);
    var ctxModels = document.getElementById('models-chart').getContext('2d');
    window.modelsPie = new Chart(ctxModels, configModels);
    var ctxYears = document.getElementById('years-chart').getContext('2d');
    window.yearsPie = new Chart(ctxYears, configYears);
    var ctxColors = document.getElementById('colors-chart').getContext('2d');
    window.colorsPie = new Chart(ctxColors, configColors);
    var ctxCountries = document.getElementById('countries-chart').getContext('2d');
    window.countriesPie = new Chart(ctxCountries, configCountries);
  };
</script>
{% endblock %}