{% extends "mplate_base_bootstrap.html" %}

{% load i18n %}
{% load summarizemodelyears %}

{% block content %}

<div class="row">
  <div class="col my-5">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th><strong>{% filter upper %} {% trans 'Code' %} {% endfilter %}</strong></th> 
            <th><strong>{% filter upper %} {% trans 'Years' %} {% endfilter %}</strong></th>
            <th><strong>{% filter upper %} {% trans 'Description' %} {% endfilter %}</strong></th>            
          </tr>
    {% if m_code_query_set%}
      {% for mcode in m_code_query_set %}
          <tr>
            <td>{{ request.GET.q|upper }}</td>
            <td>{{ mcode.years|summarizemodelyears }}</td>
            <td>
              {% if mcode.description|length > 0 %}
                {{ mcode.description }}
              {% else %}
                {% blocktrans with collection=mcode.collection%}M-code collection: {{ collection }}{% endblocktrans %}
              {% endif %}
             </td>
          </tr>
      {% endfor %}
    {% else %}
          <tr>
            <td>{{ request.GET.q|upper }}</td>
            <td>{% trans "Unknown" %}</td>
            <td>{% trans "Unknown" %}</td>
          </tr>
    {% endif %}
        </table>
      </div>

    {% if mplates %}
    <h2 class="mt-3 no-anchor" >{% blocktrans with count=paginator.count %}Found {{ count }} M-plates with M-code:{% endblocktrans %} {{ request.GET.q|upper }}</h2>
    <div class="list-group mt-4">
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="my-1 no-anchor">{% filter upper %} {% trans "M-plate" %} {% endfilter %}</h5>
            <h5 class="my-1 no-anchor">{% filter upper %} {% trans "M-codes" %} {% endfilter %}</h5>
          </div>
        </a>
      {% for mplate in mplates %}
        <a href="{% url 'mplate_decoder:mplate_retrieve' mplate.chassis_number_short %}" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="my-1 text-info no-anchor">
              {{ mplate.chassis_number_short }}
              <span class="badge badge-secondary badge-pill">{{ mplate.model_year }}</span>
              <span class="badge badge-secondary badge-pill">{{ mplate.model.model_description }}</span>
              <span class="badge badge-secondary badge-pill">{{ mplate.model.extras_description }}</span>              
              <span class="badge badge-secondary badge-pill">{{ mplate.destination_country }}</span>
            </h5>
            <span>{{ mplate.m_codes }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
      {% if is_paginated %}
        <div class="mt-3">
          <nav aria-label="Search page navigation">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                </li>
              {% endif %}

              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?q={{ request.GET.q }}&page={{ i }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      {% endif %}
    {% else %}
    <p class="lead mt-4">{% trans "There are currently no M-plates with M-code:" %} {{ request.GET.q|upper }}.</p>
    {% endif %}

  </div>
</div>

{% endblock %}